/* CSS Document */
<!--我的订单-->
.userorder{
	height:500px;
	width:800px;
	text-align:center;
	margin:auto;
}
.ordertop{
	width:800px;
	height:50px;
	margin:auto;
	margin-top:50px;
	text-align:left;
}
.commess{
	width:800px;
	height:auto;
	margin:auto;
	margin-top:0;
}
.commess1{
	width:800px;
	height:50px;
	float:left;
	margin:auto;
}
	
.commname{
	width:250px;
	height50px;
	float:left;
	text-align:center;
}
.merrname{
	width:150px;
	height:50px;
	float:left;
	text-align:center;
}
.comperp{
	width:100px;
	height:50px;
	float:left;
	text-align:center;
}
.commnumber{
	width:100px;
	height:50px;
	float:left;
	text-align:center;
}
.compay{
	width:100px;
	height:50px;
	float:left;	
	text-align:center;
}
.combutton1{
	width:80px;
	height:50px;
	float:left;
}

