/* CSS Document */
body,head{margin:0;padding:0;}
body{
	text-align:center;
}
.head {
	text-align:center;
	background-color: #ffcc00;
	width: 100%;
	height:auto;
}
.shopping{
	width:320px;
	margin:10px auto;
	text-align:left;
}
.imag{
	width:210px;
	margin:10px auto;
	text-align:left;
}
.foot{
	text-align:center;
}
	
	